form{
    text-align: center;
    background-color: wheat;
}

body{
    background-color: beige;
}

#a{
    position: relative;
    background-color: lightblue;
    border: 3px solid black;
    padding-top: 2em;
   
}

#c{
  position: relative;
  padding-top: 2em;
  margin-top: 70px;
  background-color: yellow;
  border: 3px solid black;
}


#d{
    position: relative;
    padding-top: 2em;
    margin-top: 70px;
    background-color: white;
    border: 3px solid black;    
       
}